# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=123456
DB_NAME=starter
DB_TABLE_PREFIX=

# Security
SECRET_KEY=change-me-in-production

# App ports
WEB_BACKEND_PORT=8000
ADMIN_BACKEND_PORT=8001
WEB_FRONTEND_PORT=5173
ADMIN_FRONTEND_PORT=5174
